<div class="login col-md-4 col-md-offset-4" ng-controller="register">
<div class="row">
<div class="col-md-12 mb-4">
	<label>UserName</label> 
<input type="text" class="form-control" name="user" ng-model="user">
</div>
<div class="col-md-12 mb-4">
	<label>Password</label>
<input type="password" class="form-control" name="pass" ng-model="pass">
</div>
<div class="col-md-12 mb-4">
	<label>Phone Number</label>
<input type="text" class="form-control" name="phone" ng-model="phone">
</div>
<div class="col-md-12 mb-4">
<button type="submit" class="btn btn-primary btn-lg" name="insert" ng-click="registerData()">Sign In</button>
</div>
</div>
</div>